/*CSS document*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    box-sizing: border-box; 
}

img {
    width: 100%; 
    display:block;
    margin-bottom:0.5em;
}

body {
    font-family: josefin-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
}

h1 {
    width: 14em;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8e936d;
}

nav ul li {
    font-weight: bolder;
    font-size: 1em;
    list-style-type:none;
    padding:0.5em 1em 0 0;
    display:inline;
}


h1, nav {
    margin-bottom:1em;
}

h2 {
    font-family: the-seasons, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#00281c;
}

article h2 {
    font-size: 2.5em;
    margin-top:.5em;
    margin-bottom:.5em;
}

article p {
    margin-bottom: 1em;
}

section.main-story h2 {
    font-size:2.5em;
}

section.second-story h2{
    font-size:1.5em;
}

aside {
    background: #f3eff5;
    padding:1em .5em;
}

section.third-story h2{
    font-size:large;
}

section.third-story {
    border-top: 0.1em solid #00281C;
    padding:.5em 0 1em 0;
}

section.main-story p, section.second-story p, section.third-story p, section.second-story-main p, article p {
    color:rgb(0, 0, 0);
    font-family: josefin-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom:0.5em;
}

figcaption {
    color: rgb(76, 76, 76);
    font-style: italic;
    font-family: josefin-sans, sans-serif;
    font-weight: 300;
    margin-bottom:1em;
}

div.home-container aside {
    background:none;
}

aside h2 {
    font-family: the-seasons, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
}

aside img {
    display: block; 
    box-sizing: border-box; 
}

aside p {
    margin-bottom: 1.5em;
}

article h2 {
    font-size:2em;
    color:#8e936d;
    font-family: the-seasons, sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer {
    padding: .5em 0;
    background-color: #8e936d;
    color:rgb(255, 255, 255);
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    width:100%;
    box-sizing:border-box;
}

@media only screen and (max-width: 40em) {
    h1 {
        margin-left:0.5em;
    }

    h2{
        margin-left:0.3em; 
    }

    p {
        margin-left:0.5em;
    } 

    figcaption {
        margin-left:0.5em;
    }

    nav ul li {
        margin-left:0.5em;
        display:block;
    }
}

@media only screen and (min-width:60em) {
   div.home-container {
    max-width:80em;
    padding: 0 1em;
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-gap:1em;
   } 

   div.container {
    max-width:60em;
    padding: 0 1em;
    display:grid;
    grid-template-columns:3fr 1fr;
    grid-gap:1em;
   } 

   header, footer {
    grid-column:1/3;
   }

    div.home-container aside{
        margin-top:0;
        }

    div.home-container aside{
        background: none;
        padding:0;
        margin-top:0;
        }

   div.home-container main {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1em;
   }

   section.main-story {
    grid-column:2/4;
    grid-row:1/3;
    display:flex;
   }

   section.main-story a {
    flex: 1 0 12em;
    display: flex;
    flex-direction: column;
   }

   section.main-story a figure {
    flex: 1 0 12em;
    display: flex;
   }

   section.main-story a figure img {
    object-fit:cover;
   }

   section.main-story a h2 {
    flex: 0 0 1em;
   }

   section.main-story p {
    flex:0 0 4em;
   }

   section.second-story {
    display:flex;
   }

   section.second-story a {
    flex: 1 0 12em;
    display: flex;
    flex-direction: column;
   }

   section.second-story a figure {
    flex: 1 0 12em;
    display: flex;
   }

   section.second-story a figure img {
    object-fit:cover;
   }

   section.second-story a h2 {
    flex: 0 0 1em;
   }

   section.second-story p {
    flex:0 0 4em;
   }
}
